// Dynamic zone
zone {{ getenv "DDNS_DOMAIN" }} {
    type master;
    file "/etc/bind/zones/zonefile";
    allow-update { {{range $ddns_domain := split (getenv "DDNS_DOMAINS") ";"}}{{$values := split ($ddns_domain) ":"}}Key "{{index $values 0}}"; {{end}} };
    allow-transfer { none; };
};

include "/etc/bind/ddns.keys";
